@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Julius+Sans+One');

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
 }

body {
    background-color: whitesmoke;
}

.flexbox {
    display: flex;
}

.name {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    margin: 1rem;
    align-self: center;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-shadow: 0px 0px 30px #000000;
}

address a:hover {
    color: rgb(75, 82, 104);
    text-shadow: none;
}

header {
    height: 4.5rem;
    position: fixed;
    z-index: 15;
    width: 100%;
    padding: 0 1rem;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    box-shadow: 0 0 5px black;
    background-color: rgb(236, 236, 236);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav a {
    margin: 10px 0px 10px 10px;
}

main {
    position: relative;
    padding-top: 4.5rem;
    flex-direction: column;
}

section {
    margin-top: -4.5rem;
    padding-top: 4.5rem;
}

.container {
    width: 100%;
    height: 100vh;
}

.border-box {
    background-color: whitesmoke;
}

.home {
    background: url("../images/skyline.jpg") no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3rem;
    margin: .5rem;
    text-align: center;
    color: rgb(58, 68, 95);
    text-shadow: 1px 1px 0px black;
    font-weight: bold;
}

.about {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skills {
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    align-content: center;
    width: 100%;
}

.column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill {
    margin: .25rem 0;
}

.description {
    margin: 1rem;
    text-align: justify;
}

.portfolio {
    flex-direction: column;
    height: auto;
}

.projects {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.project-tile {
    position: relative;
    margin-bottom: 1rem;
}

.project-tile img {
    width: 100%;
    height: calc(100vh - 4.5rem);
}

.project-tile p {
    text-align: center;
    position: absolute;
    z-index: 10;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    padding: 1rem;
    width: 100%;
    min-height: 5rem;
}

.contact {
    flex-direction: column;
    height: auto;
}

address {
    font-style: normal;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

address a {
    display: block;
    margin: 2rem;
}

footer {
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    border-top: 1px solid black;
    background-color: rgb(236, 236, 236);
}

footer span {
    margin-right: .25rem;
}

footer p {
    width: 100%;
    text-align: center;
    margin-bottom: .5rem;
}

footer a:last-child {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid black;
}

@media only screen and (min-height: 555px) and (max-width: 699px) {
    .border-box {
        align-self: flex-start;
        margin-top: 2rem;
        width: 100%;
    }

    .about {
        height: 100vh;
    }

    .skill {
        font-size: 2rem;
        margin: 1rem 0;
    }
}

@media only screen and (min-height: 500px) {
    .project-tile img {
        height: auto;
        width: 100vw;
    }
}

@media only screen and (min-width: 540px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
    }

    .home {
        height: 100vh;
    }

    .border-box {
        border-radius: 1rem;
        box-shadow: 2px 2px 5px 1px darkslategrey;
        margin: 2rem 2rem 0 2rem;
        align-self: flex-start;
        margin-top: 2rem;
        width: 100%;
    }

    .about {
        height: 100vh;
    }

    .name {
        display: block;
        font-size: 1.75rem;
        width: 50%;
        text-align: inherit;
    }

    nav {
        width: auto;
    }

    main {
        padding-top: 3rem;
    }

    section {
        margin-top: -3rem;
        padding-top: 3rem;
    }

}

@media only screen and (min-width: 700px) and (min-height: 565px) {
    h2 {
        font-size: 4rem;
    }

    .border-box {
        align-self: center;
        width: 40rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 5px 1px darkslategrey;
        margin: 2rem 2rem 0 2rem;
    }

    .about {
        height: 100vh;
    }

    .skill {
        font-size: 3rem;
    }

    .description {
        font-size: 2rem;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-tile {
        width: 46%;
        align-self: flex-start;
    }

    .project-tile img {
        width: 100%;
        height: 20rem;
        opacity: 0.4;
        transition: opacity .3s ease-in-out;
    }

    .project-tile img:hover {
        opacity: 1;
    }
    
    h2 {
        align-self: center;
    }
}

@media only screen and (min-width: 700px) and (min-height: 450px) {
    .contact {
        height: 100vh;
        justify-content: space-between;
    }

    address {
        height: 100%;
        align-items: center;
        align-content: center;
    }
}

@media only screen and (min-width: 1024px) {
    address a {
        font-size: 2rem;
    }    
}

@media only screen and (min-width: 1440px) {
    .project-tile {
        width: 32%;
    }

    .project-tile img {
        height: 30rem;
    }
}
